html, body{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

.container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	background: linear-gradient(black, #4166a0);
}

.main{
	position: absolute;
	top: 50px;
	z-index: 1;
	bottom: 0;
	flex: 1;
	width: 100%;
	overflow: scroll;
	color: white;
}

.mainScroll{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	flex: 1;
	padding: 50px;
	box-sizing: border-box;
	background: linear-gradient(black, #4166a0);
	width: 100%;
}

.vacancy{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	background-color: lightslategrey;
	border: 2px solid #b21000;
	border-radius: 10px;
	width: 80%;
	padding: 20px;
	box-sizing: border-box;
}

	

.vacancy .exp{
	height: 30px;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	margin: 10px 0;
	margin-bottom: 20px;
}

.vacancy h2{
	font-size: 25px;
	margin: 0;
	margin-right: 5px;
}



.vacancy .skillSec{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;	
	width: 100%;
	font-size: 25px;
}

.vacancy .skillSec span{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	background-color: #252a33;
	margin: 10px;
	padding: 10px;
	width: 40%;
}

.vacancy .skillSec span label{
	display: inline-block;
	width: 75%;
}

.vacancy input[type="checkbox"]{
	margin-left: 10px;
	width: 30px;
	height: 30px;
}

.vacancy textarea{
	width: 100%;
	height: 150px;
	background-color: #bfbfbf;
	padding: 10px;
	color: white;
	font-size: 25px;
	margin: 20px 0;
}



input[type="text"]{
	width: 200px;
	height: 30px;
	box-sizing: border-box;
	padding: 5px;
	background-color: #bfbfbf;
	border: none;
	color: white;
	font-size: 25px;
	border-radius: 5px;
}

.vacancy input[type="submit"]{
	width: 200px;
	height: 50px;
	box-sizing: border-box;
	padding: 5px;
	background-color: #002db3;
	border: none;
	color: white;
	font-size: 25px;
}

.vacancy input[type="number"]{
	width: 80px;
	height: 30px;
	margin-left: 10px;
	box-sizing: border-box;
	padding: 5px;
	border: none;
	color: white;
	font-size: 25px;
	border-radius: 5px;
	background-color: #bfbfbf;
}

.vacancy select{
	width: 150px;
	height: 25px;
	margin-left: 10px;
}

.vacancy input[type="submit"]:hover{
	cursor: pointer;
	opacity: 0.8;
}



.warning{
	display: block;
	width: 100%;
	height: 40px;
	border: 2px solid darkred;
	background-color: red;
	font-size: 20px;
	padding: 5px;
	box-sizing: border-box;
	margin: 10px 0;
	text-align: center;
}

.success{
	display: block;
	width: 100%;
	height: 40px;
	border: 2px solid darkgreen;
	background-color: limegreen;
	font-size: 20px;
	padding: 5px;
	box-sizing: border-box;
	margin: 10px 0;
	text-align: center;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: white !important;
}


@media screen and (max-width:600px) {
	.vacancy .exp{
		height: 80px;
	}
	.vacancy .skillSec span{
		width: 100%;
	}
}
